* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent {
  display: flex;
  gap: 20px;
}

.card {
  width: 200px;
  cursor: pointer;
  padding: 0 20px;

  img {
    width: 100%;
    transition: all 0.4s;
  }
}

.card:hover img {
  scale: 1.1;
}

span {
  display: inline-block;
  margin: 40px 0 20px;
}
