.done_btn {
  background-color: rgb(53, 158, 55);
  color: white;
  border: none;
  height: 40px;
  width: 130px;
  cursor: pointer;
}

.drop_down {
  margin-top: 100px;

  button.options_btn {
    background-color: rgb(170, 28, 9);
    color: white;
    border: none;
    height: 40px;
    width: 130px;
    cursor: pointer;
    border-radius: 8px;
  }
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 130px;
  gap: 20px;
  margin-top: 30px;
  span {
    background-color: rgba(139, 190, 190, 0.364);
    width: 100%;
  }
}

.display_none {
  display: none;
}

.some_class {
  background-color: rgba(139, 190, 190, 0.364);
}

/* .dark_mode {
  background-color: rgb(35, 32, 32);
} */
